<a href="https://colab.research.google.com/github/V1125333/reknew-context-engineering-bootcamp/blob/main/Day1_CorePythonPrgramming_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a variable called name and store your name in it.
name = "Venu Madhav Pendurthi"

# Create a variable age and store your age in it.
age = 30

# Create three variables: city, country, and pincode and store suitable values.
city = "Hartford"
country = "USA"
pincode = "06103"

# Change the value of a variable score from 50 to 80 and print it.
score = 50
score = 80
print(score)

# Assign the same value 100 to three variables x, y, and z and print them.
x = y = z = 100
print(x)
print(y)
print(z)
print(x,y,z)

# Assign three values 10, 20, 30 to variables a, b, and c in one line.
x,y,z = 10,11,20

# Create variables of different data types (string, integer, float, boolean) and print their values.
string_value = "Rama"
integer_value = 33
float_value = 33.25
boolean_value = True
print(string_value)
print(integer_value)
print(float_value)
print(boolean_value)

# Swap the values of two variables x and y without using a third variable.
x = 10
y = 20
x,y = y,x
print(x)
print(y)

# Write a program to add two numbers using variables and print the result.
x = 10
y = 20
print(x+y)

# Write a program to store your favorite color, food, and movie in variables and print them.
favorite_color = "Red"
favorite_food = "Pizza"
favorite_movie = "Avengers"
print(favorite_color)
print(favorite_food)
print(favorite_movie)

80
100
100
100
100 100 100
Rama
33
33.25
True
20
10
30
Red
Pizza
Avengers

In [ ]:
# HandsOn Questions :  Variable Attributes

# Create a variable x = 15 and print its identity, type, and value using id(), type(), and print().
x = 15
print("Identity of x is : ", id(x))
print("Type of x is : ", type(x))
print("Value of x is : ",x)

# Assign name = "Venu" and print its type and identity.
name = "Venu"
print("Identity of name is : ", id(name))
print("Type of name is : ", type(name))

# Create two variables a = 10 and b = 10. Print their identities and check if both are the same.
a = 10
b = 10
print("Identity of a is : ", id(a))
print("Identity of b is : ", id(b))

# Assign x = 100, print its identity, then change x = 200 and print the new identity. See if it changes.
x = 100
print("Identity of x is : ", id(x))
x = 200
print("Identity of x is : ", id(x))

# Create a list nums = [1, 2, 3]. Print its identity and type. Add one element using nums.append(4) and check if the identity changes.
nums = [1,2,3]
print("Identity of nums before appending is : ", id(nums))
print("Type of nums before appending is : ", type(nums))
nums.append(4)
print("Identity of nums after appending is : ", id(nums))

# Assign a = 5 and b = a. Print both their identities. Then change b = 6 and check if a is affected.
a = 3
b = a
print("Identity of a : ",id(a))
print("Identity of b : ",id(b))
b = 6
print("Identity of b : ",id(b))

# Create variables of different types:
#  a = 10, b = 10.5, c = "Python", d = [1, 2, 3]
#  Print the identity and type of each variable.
a = 10
b = 10.5
c = "Python"
d = [1,2,3]
print("Identity of a is {} and type of a is {}".format(id(a),type(a)))
print("Identity of b is {} and type of b is {}".format(id(b),type(b)))
print("Identity of c is {} and type of c is {}".format(id(c),type(c)))
print("Identity of d is {} and type of d is {}".format(id(d),type(d)))


# Assign two identical strings:
#  str1 = "hello", str2 = "hello"
#  Print their identities and see if they are the same.
str1 = "hello"
str2 = "hello"
print("Identity of str1 is {}".format(id(str1)))
print("Identity of str2 is {}".format(id(str2)))
print(id(str1) == id(str2))


# Assign x = 50, print its identity and type, then change x = "Fifty" and print again.
x = 50
print("Identity of x is {} and type of x is {}".format(id(x),type(x)))
x = "Fifty"
print("Identity of x is {} and type of x is {}".format(id(x),type(x)))

# Take user input and store it in a variable called data. Print the identity, type, and value of data.
data = input("Enter some data : ")
print("Identity of user input is {}, type of user input is {},Value of user input is {}".format(id(data),type(data),data))

Identity of x is :  11654824
Type of x is :  <class 'int'>
Value of x is :  15
Identity of name is :  137573464727952
Type of name is :  <class 'str'>
Identity of a is :  11654664
Identity of b is :  11654664
Identity of x is :  11657544
Identity of x is :  11660744
Identity of nums before appending is :  137573457757440
Type of nums before appending is :  <class 'list'>
Identity of nums after appending is :  137573457757440
Identity of a :  11654440
Identity of b :  11654440
Identity of b :  11654536
Identity of a is 11654664 and type of a is <class 'int'>
Identity of b is 137573458874992 and type of b is <class 'float'>
Identity of c is 10702304 and type of c is <class 'str'>
Identity of d is 137573457764736 and type of d is <class 'list'>
Identity of str1 is 137574408553024
Identity of str2 is 137574408553024
True
Identity of x is 11655944 and type of x is <class 'int'>
Identity of x is 137573469802672 and type of x is <class 'str'>
Enter some data : 33
Identity of user input is 137573464717040, type of user input is <class 'str'>,Value of user input is 33

In [11]:
#Data Types

# 1. Numeric Data Types : In Python we have 3 Numeric data types - int, float and complex
# int data type : int is used to represent the whole numbers Example -10,0,5,7
# let us define a variable of int data type
positive_num = 10
negative_num = -100
zero_num = 0
print("---- Int Data Type ----")
print(positive_num)
print(negative_num)
print(zero_num)
print("_______________________________",end="\n\n")

# Float Data type: Float data type is used to represent the decimal values ((example: 10.5, -3.2, 0.99))
pdeci_number = 10.55
ndeci_number = -5.33
print("---- float Data Type ----")
print(pdeci_number,ndeci_number,sep=",")
print("_______________________________",end="\n\n")

# Complex data type : Numbers with real and imaginary parts (example: 3+5j)
com_num = 3+4j
real_num = 4+0j
imaginary_num = 0+5j
print("---- Complex Data Type ----")
print(com_num,real_num,imaginary_num, sep = ",")
print("_______________________________",end="\n\n")

---- Int Data Type ----
10
-100
0
_______________________________

---- float Data Type ----
10.55,-5.33
_______________________________

---- Complex Data Type ----
(3+4j),(4+0j),5j
_______________________________

In [13]:
#Text Data Types : Used to store text or string data.
#str – Sequence of characters enclosed in quotes (example: "Hello", 'Python')

str_name = "Venu Madhav Pendurthi"
string_text = "Reknew"
print(str_name+" is in comtext engineering training by "+string_text)

Venu Madhav Pendurthi is in comtext engineering training by Reknew

In [16]:
#Boolean Data Type : Used to represent True or False values.
#bool – Holds only two possible values: True or False

is_active = True
is_live = False

print(is_active)   # Output: True
print(is_live)    # Output: False
print("\n")

#Example 2
print("Example 2: check if num1 is greater than num2")
num1 = 5
num2 = 7
print(num1>num2)

True
False


Example 2: check if num1 is greater than num2
False

In [31]:
#Sequential data types : Used to store multiple items in a single variable.
# We have
#--------> String
#--------> List
#--------> Tuple
# List :Whenever we want to store data of the same or different types where the insertion order is preserved, duplicates are allowed,
#and the data can be changed (mutable), we use a List.
#Python lists are heterogeneous, meaning they can hold multiple types of objects in one container.
print("------------------------------ List ------------------------------")

# Same Data Type
numbers = [1, 2, 3, 4, 5]
print(numbers)   # [1, 2, 3, 4, 5]

# Mixed Data Type
mixed = [1, "Venu", 3.14, True, None]
print(mixed)  # [1, 'Venu', 3.14, True, None]

# we can also store nested data inside list (Nested data - List inside a list)
nested = [1, [2, 3], ["apple", "banana"], (10, 20)]
print(nested) # [1, [2, 3], ['apple', 'banana'], (10, 20)]

#We can also store list of dictionaries
students = [ {"name": "Venu", "age": 25},{"name": "Kiran", "age": 24}]
print(students[0]["name"])   # Venu

#------------------------------ Tuple ------------------------------
print("------------------------------ Tuple ------------------------------")
# Tuple : Whenever we want to store data of the same or different types where the insertion order is preserved, duplicates are allowed, but the data cannot be changed (immutable) after creation — we use a Tuple.

# Tuple definition
num_tuple = (1,2,3,4,5,6)
print(num_tuple)

# Tuple with different data types
mixed_tuple = (1,"Venu",[1,2,3],{"city":"Hartford"})
print(mixed_tuple)

#Accessing elements in tuple using index
print(mixed_tuple[3]["city"])

#Duplicates are allowed
duplicate_tuple = (1,2,3,4,5,4,3,2,1,7)
print(duplicate_tuple)

#Nested Tuple
nested = ((1, 2), (3, 4), (5, 6))
print(nested[1])       # (3, 4)

#Example 7: Tuple with One Element. When a tuple has only one element, you must add a comma after it.
single = (10,)
print(type(single))

single_not_tuple = (10)
print(type(single_not_tuple))

#Tuple is immutable
fruits = ("Apple","Carrot")
fruits(1,"tata")

------------------------------ List ------------------------------
[1, 2, 3, 4, 5]
[1, 'Venu', 3.14, True, None]
[1, [2, 3], ['apple', 'banana'], (10, 20)]
Venu
------------------------------ Tuple ------------------------------
(1, 2, 3, 4, 5, 6)
(1, 'Venu', [1, 2, 3], {'city': 'Hartford'})
Hartford
(1, 2, 3, 4, 5, 4, 3, 2, 1, 7)
(3, 4)
<class 'tuple'>
<class 'int'>

TypeError: 'tuple' object is not callable

In [48]:
#Mapping Data Type: Whenever we needed to store the data in a Key-Value pair we have to use this Mapping Data Types, Dictionaries comes under Mapping Data Types.

# Dictionary : Whenever we want to store data in the form of key–value pairs, where each key is unique, the insertion order is preserved (in Python 3.7+), and the data is changeable (mutable) — we use a Dictionary.
#Creating a Dictionary
student_data = {"name":"Venu Madhav Pendurthi","age":29,"city":"Hartford"}
print(student_data)

#Accessing values using keys
print(student_data["name"])
print(student_data.get("age"))

#Adding or Updating Items
student_data["city"] = "Boston"
print(student_data)

#Removing Items

#a. Remove single element
student_data.pop("age")
print(student_data)

#b. Remove all data from the dictionary
student_data.clear()
print(student_data)

#c. Delete the entire dictionary
#del student_data
#print(student_data)

#Iterating Through a Dictionary
student = {"name": "Kiran", "age": 24, "grade": "A"}

for item in student:
  print(item, ":", student[item])

#Dictionary Methods
student = {"name": "Kiran", "age": 24, "grade": "A"}
print(student.keys())
print(student.values())
print(student.items())

{'name': 'Venu Madhav Pendurthi', 'age': 29, 'city': 'Hartford'}
Venu Madhav Pendurthi
29
{'name': 'Venu Madhav Pendurthi', 'age': 29, 'city': 'Boston'}
{'name': 'Venu Madhav Pendurthi', 'city': 'Boston'}
{}
name : Kiran
age : 24
grade : A
dict_keys(['name', 'age', 'grade'])
dict_values(['Kiran', 24, 'A'])
dict_items([('name', 'Kiran'), ('age', 24), ('grade', 'A')])

In [59]:
#Random Data Types : Sets
# Set: Whenever we want to store multiple unique items where the insertion order is not important, duplicates are not allowed, and the data is changeable (mutable) — we use a Set.

num_set = {1,2,3,4}
print(num_set)

num_set_duplicate = {1,2,3,2,1,4}
print(num_set_duplicate) # even tough duplicates are inserted when printing we will get only unique values

num_set_mixed = {1,"venu",True,3.14}
print(num_set_mixed)

#Adding relements to Set
string_set = {"Venu","Kesav","Teja"}
string_set.add("Hari")
print(string_set)

#Removing elements from set
string_set.remove("Venu")
print(string_set)

#Accessing elements from set
for item in string_set:
  print(item)

print(string_set[1]) # since set is an un ordered collection of data, it doesn't supports indexis so we cannot rtrive data using indexing.

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 3.14, 'venu'}
{'Hari', 'Kesav', 'Venu', 'Teja'}
{'Hari', 'Kesav', 'Teja'}
Hari
Kesav
Teja

TypeError: 'set' object is not subscriptable